<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623206073133-ijra1ngcfhcegnnrd9pg64sjt3d0uevd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623206073133-ijra1ngcfhcegnnrd9pg64sjt3d0uevd</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Dzct7NWFTI-mARGRxFt-6gTTg6BsPP8</string>
	<key>GCM_SENDER_ID</key>
	<string>623206073133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAppWaleed</string>
	<key>PROJECT_ID</key>
	<string>waleed-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>waleed-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623206073133:ios:8e6228aee1eb948bc009a4</string>
</dict>
</plist>